[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
torch = "*"
torchvision = "*"
matplotlib = "*"
numpy = "*"
pytorch-lightning = "*"
scipy = "*"
pillow = "*"

[requires]
python_version = "3.7"
